# ignore saved models dir
data/modelSaved/
*.h5

# ignore virtual env dir
animegen/

# ignore input, mask data dir
data/input/
*.png

# ignore pychache
__pycache__/

# ignore vscode settings
.vscode/
